<table class="table table-striped">
  <thead>
    <tr>
      <th>Pezzo</th>
      <th>Lavorazione</th>
      <th>Quantità in Magazzino</th>
      <th>Quantita in Lavorazione</th>
      <th>Quantità Pronto Consegna</th>
    </tr>
  </thead>

  <tbody>
    <%= azienda.entrata.each do |ent| %>
      <tr>
        <td><%= ent.id %></td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    <% end %>
  </tbody>
</table>