          <% if user_signed_in? %>


<h1>Editing Timesheet</h1>

<%= render 'form' %>

<%= link_to 'Show', @timesheet %> |
<%= link_to 'Back', timesheets_path %>


<% else %>

<h2><a href="/users/sign_in">Accesso Riservato | Loggati</a></h2>

<% end %>