
<div class="container">
	<div class="col-xs-12">
		<h1 style="text-align: center">Ti Ringraziamo di cuore per il tempo che ci hai riservato rispondendo al nostro test.</h1>
		<h4 style="text-align: center">Torna al sito internet <a href="http://www.yogaandwellness.it">www.yogaandwellness.it</a></h4>
		<h4 style="text-align: center">
			<br>
			CENTRO COMMERCIALE MIRALAGO<br>
			Via G.Mazzini, 4 - 25030 PARATICO (BS)
			Tel. +39.348.6957224 - yoga.wellness@gmail.com  - P.Iva: 03357160161
			<br>
		</h4>
	</div>
</div>