<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplier.description %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @supplier.discount %>
</p>


