<h1 class="header">Modifica Fattura d'Acquisto</h1>

<%= render 'form', purchase_invoice: @purchase_invoice %>

<%= link_to 'Show', @purchase_invoice %> |
<%= link_to 'Back', purchase_invoices_path %>
