



<nav class="blu-motowork" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/#" class="brand-logo">
      <%= image_tag("logo", class: "logo") %>
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/#"><i class="material-icons">home</i></a></li>
        <li><a href="/address_books"><i class="material-icons left">perm_contact_calendar</i> Anagrafiche</a></li>
        <li><a href="/products"><i class="material-icons left">storage</i>Prodotti</a></li>
        <li><a href="/dashboard/magazzino"><i class="material-icons left">widgets</i> Magazzino</a></li>
        <li><a href="/vehicle_card_acceptances"><i class="material-icons left">motorcycle</i> Scheda Accettazione</a></li>
        <li><a href="/invoices"><i class="material-icons left">euro_symbol</i>Fatture</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
