<h1>Editing Purchase Payment Deadline</h1>

<%= render 'form', purchase_payment_deadline: @purchase_payment_deadline %>

<%= link_to 'Show', @purchase_payment_deadline %> |
<%= link_to 'Back', purchase_payment_deadlines_path %>
