<script>
window.onload = function()
{
document.getElementById('mira').focus()
}
</script>

<div class="row">
	<div class="col-lg-3"></div>

	<div class="col-lg-6">
		<h1>INSERISCI TARGA:</h1>
		<form accept-charset="UTF-8" action="/welcome/hello" method="save" name="ciao" class="form">
			<input name="test" type="text" value="" id="mira" class="form-control" />
			<p></p>
			<button type="submit" class="btn btn-primary" style="float:right">Invia</button>
		</form>
	</div>

	<div class="col-lg-3"></div>

<% if current_user.roles == "amministratore" %>
<div class="col-xs-12">
	<%= render "users/shared/links" %>
</div>
<% end %>