<div class="container">

<div class="row" style="margin-bottom: 25px; margin-top: 25px;">

<!-- Indicates a dangerous or potentially negative action -->
<a href="/welcome/resettarga" class="btn btn-danger">RESET TARGA</a>



</div><!-- row -->



<div class="row">
  <div class="col-xs-4" style="background-color: #02840a; height: 15px;"></div>
  <div class="col-xs-4" style="background-color: #ffffff; height: 15px;"></div>
  <div class="col-xs-4" style="background-color: #fd0d00; height: 15px;"></div>
</div>

</div><!-- contrainer -->

