<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @tipopagamento.titolo %>
</p>

<%= link_to 'Edit', edit_tipopagamento_path(@tipopagamento) %> |
<%= link_to 'Back', tipopagamentos_path %>
