<h1 class="header">Modifica Scheda Accettazione Veicolo</h1>

<%= render 'form', vehicle_card_acceptance: @vehicle_card_acceptance %>

<%= link_to 'Show', @vehicle_card_acceptance %> |
<%= link_to 'Back', vehicle_card_acceptances_path %>
